{% block sw_cms_block_cmsbundle_recently_viewed_product_slider %}
	<div class="sw-cms-block-cmsbundle-recently-viewed-product-slider">
		<div class="recently-viewed-product-slider-bg">
			<slot name="background"></slot>
		</div>
		<div class="recently-viewed-product-slider-slots">
			<slot name="title"></slot>
			<slot name="product"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
