{% block sw_cms_element_cmsbundle_image %}
<div class="sw-cms-el-cmsbundle-image">
    {% block sw_cms_element_cmsbundle_image_content %}
    <img
        :src="mediaUrl"
        alt=""
    >
    {% endblock %}
</div>
{% endblock %}
