.mill-cloud-product-downloads-additional-table {

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  .mill-cloud-product-downloads-additional-table-item {

    .icon {

      margin-right: 0.25rem;

    }

  }

}