{% block sw_cms_block_image_one_by_two_column_preview %}
    <div class="sw-cms-preview-cmsbundle-one-by-two-column-banner">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" class="img1" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" class="img2" />
    </div>
{% endblock %}
