{% block sw_cms_block_preview_cmsbundle_nav_tabs %}
    <div class="sw-cms-block-preview-cmsbundle-nav-tabs">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/nav-tabs.png')" alt="" />
    </div>
{% endblock %}
