{% block sw_cms_block__cmsbundle_content_block_preview %}
	<div class="sw-cms-preview-cmsbundle-content-block">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/content-block.jpg')" alt="">
	</div>
{% endblock %}
