{% block cmsbundle_el_preview_breadcrumbs %}
	<div class="sw-cms-el-preview cmsbundle-breadcrumbs-preview">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/breadcrumb.jpg')" alt="" width="100%">
	</div>
{% endblock %}
