{% block sw_cms_sidebar_block_overview_category_options %}
    {% parent %}
    <optgroup label="CMS Bundle"> 
        <option value="cmsbundleContents">Contents</option>
        <option value="cmsbundleColumns">Columns</option>
        <option value="cmsbundleGrids">Image Grids</option>
        <option value="cmsbundleListing">Listing</option>
        <option value="cmsbundleSliders">Sliders</option>
    </optgroup>
{% endblock %}
