{% block sw_cms_block_cmsbundle_cta_slider_preview %}
    <div class="sw-cms-preview-cmsbundle-cta">
        <div class="sw-cms-cta-box-preview has--text">
            <img :src="assetFilter('/shopwarebundleplugin/static/img/cta-slider.jpg')" alt=""></div>
        </div>
    {% endblock %}
    