{% sw_extends '@Storefront/storefront/element/cms-element-youtube-video.html.twig' %}

{% block element_youtube_video_placeholder %}
    <div class="cms-element-youtube-video__placeholder"
            data-cms-gdpr-video-element="true"
            data-cms-gdpr-video-element-options="{{ pluginConfiguration|json_encode }}">

        {% if elementData.media %}
            {% sw_thumbnails 'cms-element-youtube-video__placeholder' with {
                media: elementData.media,
                alt: 'youtube video placeholder'
            } %}
        {% endif %}
    </div>
{% endblock %}