{% block sw_cms_block_cmsbundle_manufacturer_detail %}
	<div class="sw-cms-block-cmsbundle-manufacturer-detail">
		<div class="manufacturer-bg">
			<slot name="background"></slot>
		</div>
		<div class="manufacturer-slots">
			<slot name="title"></slot>
			<slot name="manufacturer"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
