{% block sw_cms_block_image_six_column_preview %}
    <div class="sw-cms-preview-cmsbundle-six-column-banner">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
    </div>
{% endblock %}
