{% block sw_cms_block_cmsbundle_category_preview %}
	<div class="sw-cms-preview-cmsbundle-category">
		<div class="sw-cms-category-box-preview has--text">
			<img :src="assetFilter('/shopwarebundleplugin/static/img/listing.jpg')" alt="">
		</div>
	</div>
{% endblock %}
