{% block sw_cms_block_recently_viewed_product_list_preview %}
<div class="sw-cms-preview-cmsbundle-recently-viewed-product-list">
      <img :src="assetFilter('/shopwarebundleplugin/static/img/listing.jpg')" alt="">
</div>
{% endblock %}
