{% block sw_cms_block_image_six_column %}
<div class="sw-cms-block-cmsbundle-six-column-banner">
    <slot name="left-left"></slot>
    <slot name="left-right"></slot>
    <slot name="center-left"></slot>
    <slot name="center-right"></slot>
    <slot name="right-left"></slot>
    <slot name="right-right"></slot>
</div>
{% endblock %}
