{% block sw_cms_block_cmsbundle_subcategory_list %}
	<div class="sw-cms-block-cmsbundle-subcategory-list">
		<div class="subcategory-list-bg">
			<slot name="background"></slot>
		</div>
		<div class="subcategory-list-slots">
			<slot name="title"></slot>
			<slot name="subcategory"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
