{% block sw_cms_element_subcategory_list_componenet %}
    <div class="sw-cms-element-subcategory-list-componenet">
        <div class="sw-cms-element-subcategory-list-componenet_content">
            <img class="sw-cms-element-subcategory-list-componenet-img" :src="assetFilter('/shopwarebundleplugin/static/img/el-sub-category-list.png')" alt="">
        </div>
    </div>
{% endblock %}
