{% block sw_cms_element_cmsbundle_title_preview %}
	<div class="sw-cms-el-preview-cmsbundle-button">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/button.png')" alt="">
	</div>
{% endblock %}
