{% block sw_cms_block_cmsbundle_cta %}
	<div class="sw-cms-block-cmsbundle-cta">
		<div class="cta-bg">
			<slot name="background"></slot>
		</div>
		<div class="cta-slots">
			<slot name="content"></slot>
		</div>
	</div>
{% endblock %}
