
{% block sw_cms_block_cmsbundle_category_slider %}
	<div class="sw-cms-block-cmsbundle-best-seller-list">
		<div class="best-seller-list-bg">
			<slot name="background"></slot>
		</div>
		<div class="best-seller-list-slots">
			<slot name="title"></slot>
			<slot name="bestSeller"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
