{% block sw_cms_element_brand_list %}
	<div class="sw-cms-el-cta-slider">
		<img class="el-cta-slider-img" :src="assetFilter('/shopwarebundleplugin/static/img/cta-slider.jpg')">
	</div>
{% endblock %}
