{% block sw_cms_element_best_seller_slider_config %}
	<div class="sw-cms-el-config-best-seller-slider">

		{% block sw_cms_element_best_seller_slider_config_tabs %}
			<sw-tabs position-identifier="sw-cms-element-config-best-seller-slider" class="sw-cms-el-config-best-seller-slider__tabs" default-item="count">
				<template #default="{ active }">

					{% block sw_cms_element_best_seller_slider_config_tab_count %}
						<sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.count')" name="count" :active-tab="active">
							{{ $tc('cmsbundle.element.general.tabs.count') }}
						</sw-tabs-item>
					{% endblock %}

					{% block sw_cms_element_best_seller_slider_config_tab_options %}
						<sw-tabs-item :title="$tc('sw-cms.elements.general.config.tab.settings')" name="settings" :active-tab="active">
							{{ $tc('sw-cms.elements.general.config.tab.settings') }}
						</sw-tabs-item>
					{% endblock %}
					
				</template>

				<template #content="{ active }">
					{% block sw_cms_element_product_slider_config_settings %}
						<sw-container v-if="active === 'settings'" class="sw-cms-el-config-best-seller-slider__tab-settings">

							{% block sw_cms_element_product_slider_config_settings_display_mode %}
								<sw-select-field v-model:value="element.config.displayMode.value" :label="$tc('sw-cms.elements.general.config.label.displayMode')">
									<option value="standard">
										{{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
									</option>
									<option value="cover">
										{{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
									</option>
									<option value="contain">
										{{ $tc('sw-cms.elements.general.config.label.displayModeContain') }}
									</option>
								</sw-select-field>
							{% endblock %}


							{% block sw_cms_element_product_slider_config_settings_vertical_align %}
								<sw-select-field v-model:value="element.config.verticalAlign.value" :label="$tc('sw-cms.elements.general.config.label.verticalAlign')" :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')">
									<option value="flex-start">
										{{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
									</option>
									<option value="center">
										{{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
									</option>
									<option value="flex-end">
										{{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
									</option>
								</sw-select-field>
							{% endblock %}


							{% block sw_cms_element_product_slider_config_settings_box_layout %}
								<sw-select-field v-model:value="element.config.boxLayout.value" :label="$tc('sw-cms.elements.productBox.config.label.layoutType')">
									<option value="standard">
										{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
									</option>
									<option value="image">
										{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
									</option>
									<option value="minimal">
										{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
									</option>
								</sw-select-field>
							{% endblock %}


							{% block sw_cms_element_product_slider_config_settings_border %}
								<sw-switch-field v-model:value="element.config.border.value" bordered :label="$tc('sw-cms.elements.productSlider.config.label.border')"/>
							{% endblock %}


							{% block sw_cms_element_product_slider_config_settings_min_width %}
								<sw-text-field v-model:value="element.config.elMinWidth.value" :label="$tc('sw-cms.elements.productSlider.config.label.minWidth')" :placeholder="$tc('sw-cms.elements.productSlider.config.placeholder.minWidth')"/>
							{% endblock %}

							{% block sw_cms_element_best_seller_list_config_settings_limit %}
								<sw-text-field v-model:value="element.config.productsPerPage.value" :label="$tc('cmsbundle.element.general.config.productsPerPage')"/>
							{% endblock %}
							
							{% block sw_cms_element_cmsbundle_hero_slider_background_config_media_upload_setting %}

								{% block sw_cms_element_cmsbundle_hero_slider_background_backconfig_autoplay %}
									<div class="sw-cms-el-config-cmsbundle-hero-slider-autoplay sw-field-item">
										<sw-switch-field v-model:value="element.config.autoPlay.value" class="sw-cms-el-config-cmsbundle-hero-slider-autoplay" type="switch" :label="$tc('cmsbundle.element.general.config.enable-autoplay')" bordered/>
									</div>
								{% endblock %}
								{% block sw_cms_element_cmsbundle_hero_slider_background_config_speed %}
									<sw-text-field v-model:value="element.config.speed.value" class="sw-cms-el-config-cmsbundle-hero-slider-speed sw-field-item" type="text" :label="$tc('cmsbundle.element.general.config.speed')"/>
								{% endblock %}
								{% block sw_cms_element_cmsbundle_hero_slider_background_backconfig_controlls %}
									<div class="sw-cms-el-config-cmsbundle-hero-slider-controlls sw-field-item">
										<sw-switch-field v-model:value="element.config.controlls.value" class="sw-cms-el-config-cmsbundle-hero-slider-controlls" type="switch" :label="$tc('cmsbundle.element.general.config.enable-controlls')"/>
									</div>
								{% endblock %}

								{% block sw_cms_element_cmsbundle_hero_slider_background_backconfig_dots %}
									<div class="sw-cms-el-config-cmsbundle-hero-slider-dots sw-field-item">
										<sw-switch-field v-model:value="element.config.dots.value" class="sw-cms-el-config-cmsbundle-hero-slider-dots" type="switch" :label="$tc('cmsbundle.element.general.config.enable-dots')"/>
									</div>
								{% endblock %}

								{% block sw_cms_element_cmsbundle_hero_slider_background_config_loop %}
									<div class="sw-cms-el-config-cmsbundle-hero-slider-loop sw-field-item">
										<sw-switch-field v-model:value="element.config.loop.value" class="sw-cms-el-config-cmsbundle-hero-slider-loop" type="switch" :label="$tc('cmsbundle.element.general.config.enable-loop')"/>
									</div>
								{% endblock %}
								{% block sw_cms_element_best_seller_slider_variant %}
									<sw-select-field
										:label="$tc('cmsbundle.element.best-seller-slider.config.propertyGroupLabel')"
										:placeholder="$tc('cmsbundle.element.best-seller-slider.config.propertyGroupLabel')"
										v-model:value="element.config.productColorProperty.value"
										@change="onChangePropertyGroup"
									>
										<option v-for="group in propertyGroups" :key="group.id" :value="group.id">
											{{ group.name }}
										</option>
									</sw-select-field>
								{% endblock %}
							{% endblock %}
						</sw-container>
						<sw-container v-if="active === 'count'" class="sw-cms-el-config-best-seller-slider__tab-content">
							<sw-select-field v-model:value="element.config.countDesktop.value" :label="$tc('cmsbundle.element.general.config.desktop-count')">
								<option value="6">
									6
								</option>
								<option value="5">
									5
								</option>
								<option value="4">
									4
								</option>
								<option value="3">
									3
								</option>
								<option value="2">
									2
								</option>
								<option value="1">
									1
								</option>
							</sw-select-field>
							<sw-select-field v-model:value="element.config.countTablet.value" :label="$tc('cmsbundle.element.general.config.tablet-count')">
								<option value="6">
									6
								</option>
								<option value="5">
									5
								</option>
								<option value="4">
									4
								</option>
								<option value="3">
									3
								</option>
								<option value="2">
									2
								</option>
								<option value="1">
									1
								</option>
							</sw-select-field>
							<sw-select-field v-model:value="element.config.countMobile.value" :label="$tc('cmsbundle.element.general.config.mobile-count')">
								<option value="6">
									6
								</option>
								<option value="5">
									5
								</option>
								<option value="4">
									4
								</option>
								<option value="3">
									3
								</option>
								<option value="2">
									2
								</option>
								<option value="1">
									1
								</option>
							</sw-select-field>
						</sw-container>
					{% endblock %}

				</template>
			</sw-tabs>
		{% endblock %}
	</div>
{% endblock %}
