{% block sw_cms_block_cmsbundle_hero_slider_preview %}
	<div class="sw-cms-preview-cmsbundle-hero-slider">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/hero-block.jpg')" alt="">
	</div>
{% endblock %}
