{% block sw_cms_block_image_five_column_preview %}
    <div class="sw-cms-preview-cmsbundle-five-column-banner">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" />
    </div>
{% endblock %}
