{% block sw_cms_element_picture_config_config %}
	<div class="sw-cms-el-config-cmsbundle-cta">
		{% block sw_cms_element_picture_config_tabs %}
			<sw-tabs default-item="title">
				<template #default="{ active }">
					{% block sw_cms_element_picture_config_tab_title %}
						<sw-tabs-item name="title" :active-tab="active">
							{{ $tc('cmsbundle.element.general.tabs.title') }}
						</sw-tabs-item>
					{% endblock %}
					{% block sw_cms_element_picture_config_tab_content %}
						<sw-tabs-item name="content" :active-tab="active">
							{{ $tc('cmsbundle.element.general.tabs.content') }}
						</sw-tabs-item>
					{% endblock %}
					{% block sw_cms_element_picture_config_tab_button %}
						<sw-tabs-item name="button" :active-tab="active">
							{{ $tc('cmsbundle.element.general.tabs.button') }}
						</sw-tabs-item>
					{% endblock %}
					{% block sw_cms_element_picture_config_tab_setting %}
						<sw-tabs-item name="setting" :active-tab="active">
							{{ $tc('cmsbundle.element.general.tabs.settings') }}
						</sw-tabs-item>
					{% endblock %}
				</template>
				<template #content="{ active }">
					<div v-if="active === 'button'" class="sw-cms-el-config-cmsbundle-cta">
						{% block sw_cms_element_cmsbundle_title_config_link %}
							<div class="sw-cms-el-config-cmsbundle-title__link">
								<sw-dynamic-url-field v-model:value="element.config.url1.value"/>
								<sw-switch-field v-model:value="element.config.newTab1.value" class="sw-cms-el-config-cmsbundle-title__link-tab" type="switch" :label="$tc('cmsbundle.element.general.config.open-link-new-tab')"/>
							</div>
						{% endblock %}
						{% block sw_cms_element_cmsbundle_title_config_button %}
							<div style="width:100%;display: flex;">
								<sw-text-field v-model:value="element.config.buttonText1.value" class="pr-10px" type="text" :label="$tc('cmsbundle.element.general.config.button-text')"/>
								<sw-select-field v-model:value="element.config.buttonType1.value" :label="$tc('cmsbundle.element.general.config.button-type')">
									<option value="success">
										Success
									</option>
									<option value="primary">
										Primary
									</option>
									<option value="secondary">
										Secondary
									</option>
									<option value="danger">
										Danger
									</option>
									<option value="warning">
										Warning
									</option>
									<option value="info">
										Info
									</option>
									<option value="light">
										Light
									</option>
									<option value="dark">
										Dark
									</option>
									<option value="link">
										Link
									</option>
								</sw-select-field>
							</div>
							<sw-switch-field v-model:value="element.config.buttomLevel1.value" type="switch" :label="$tc('cmsbundle.element.general.config.add-more-button')"/>
							<div class="sw-cms-el-config-cmsbundle-title__link" v-if="element.config.buttomLevel1.value">
								<sw-dynamic-url-field v-model:value="element.config.url2.value"/>
								<sw-switch-field v-model:value="element.config.newTab2.value" class="sw-cms-el-config-cmsbundle-title__link-tab" type="switch" :label="$tc('cmsbundle.element.general.config.open-link-new-tab')"/>
							</div>
							<div style="width:100%;display: flex;" v-if="element.config.buttomLevel1.value">
								<sw-text-field v-model:value="element.config.buttonText2.value" class="pr-10px" type="text" :label="$tc('cmsbundle.element.general.config.button-text')"/>
								<sw-select-field v-model:value="element.config.buttonType2.value" :label="$tc('cmsbundle.element.general.config.button-type')">
									<option value="success">
										Success
									</option>
									<option value="primary">
										Primary
									</option>
									<option value="secondary">
										Secondary
									</option>
									<option value="danger">
										Danger
									</option>
									<option value="warning">
										Warning
									</option>
									<option value="info">
										Info
									</option>
									<option value="light">
										Light
									</option>
									<option value="dark">
										Dark
									</option>
									<option value="link">
										Link
									</option>
								</sw-select-field>
							</div>
							<sw-switch-field v-model:value="element.config.buttomLevel2.value" type="switch" v-if="element.config.buttomLevel1.value" :label="$tc('cmsbundle.element.general.config.add-more-button')"/>
							<div class="sw-cms-el-config-cmsbundle-title__link" v-if="element.config.buttomLevel2.value">
								<sw-dynamic-url-field v-model:value="element.config.url3.value"/>
								<sw-switch-field v-model:value="element.config.newTab3.value" class="sw-cms-el-config-cmsbundle-title__link-tab" type="switch" :label="$tc('cmsbundle.element.general.config.open-link-new-tab')"/>
							</div>
							<div style="width:100%;display: flex;" v-if="element.config.buttomLevel2.value">
								<sw-text-field v-model:value="element.config.buttonText3.value" class="pr-10px" type="text" :label="$tc('cmsbundle.element.general.config.button-text')"/>
								<sw-select-field v-model:value="element.config.buttonType3.value" :label="$tc('cmsbundle.element.general.config.button-type')">
									<option value="success">
										Success
									</option>
									<option value="primary">
										Primary
									</option>
									<option value="secondary">
										Secondary
									</option>
									<option value="danger">
										Danger
									</option>
									<option value="warning">
										Warning
									</option>
									<option value="info">
										Info
									</option>
									<option value="light">
										Light
									</option>
									<option value="dark">
										Dark
									</option>
									<option value="link">
										Link
									</option>
								</sw-select-field>
							</div>
						{% endblock %}
					</div>

					<div v-if="active === 'title'" class="sw-cms-el-config-cmsbundle-cta">
						{% block sw_cms_element_title_config %}
							<div class="sw-cms-el-config-cmsbundle-title">
								{% block sw_cms_element_cmsbundle_title_config %}
									<div style="width:100%;display: flex;">
										<sw-text-field v-model:value="element.config.title.value" class="sw-cms-el-config-cmsbundle-main-title pr-10px" type="text" :label="$tc('cmsbundle.element.general.config.title')"/>
										<sw-select-field v-model:value="element.config.titleHeading.value" class="sw-cms-el-config-cmsbundle-main-title-heading" :label="$tc('cmsbundle.element.general.config.title-tag')">
											<option value="h1">
												H1
											</option>
											<option value="h2">
												H2
											</option>
											<option value="h3">
												H3
											</option>
											<option value="h4">
												H4
											</option>
											<option value="h5">
												H5
											</option>
											<option value="h6">
												H6
											</option>
											<option value="div">
                                                div                                            
                                            </option>
                                            <option value="span">
                                                span                                           
                                            </option>
										</sw-select-field>
									</div>
									<div style="width:100%;display: flex;">
										<sw-text-field v-model:value="element.config.subTitle.value" class="sw-cms-el-config-cmsbundle-sub-title pr-10px" type="text" :label="$tc('cmsbundle.element.general.config.sub-title')"/>
										<sw-select-field v-model:value="element.config.subTitleHeading.value" class="sw-cms-el-config-cmsbundle-sub-title-heading" :label="$tc('cmsbundle.element.general.config.sub-title-tag')">
											<option value="h1">
												H1
											</option>
											<option value="h2">
												H2
											</option>
											<option value="h3">
												H3
											</option>
											<option value="h4">
												H4
											</option>
											<option value="h5">
												H5
											</option>
											<option value="h6">
												H6
											</option>
											<option value="div">
                                                div                                            
                                            </option>
                                            <option value="span">
                                                span                                           
                                            </option>
										</sw-select-field>
									</div>
								{% endblock %}

								{% block sw_cms_element_cmsbundle_title_short_description_config %}
									<sw-text-field v-model:value="element.config.shortDescription.value" class="sw-cms-el-config-cmsbundle-short-description" type="text" :label="$tc('cmsbundle.element.general.config.short-description')"/>
								{% endblock %}
							</div>
						{% endblock %}

					</div>

					<div v-if="active === 'content'" class="sw-cms-el-config-cmsbundle-cta">
						{% block sw_cms_element_cmsbundle_image_config_content %}
							<sw-text-editor v-model:value="contentUpdate" type="html" class="swag-image-text-field" :label="$tc('cmsbundle.element.general.config.content.label')" :placeholder="$tc('cmsbundle.element.general.config.content.placeholder')" @input="onElementUpdate" @update:value="onElementUpdate"></sw-text-editor>
						{% endblock %}
					</div>

					<div v-if="active === 'setting'" class="sw-cms-el-config-cmsbundle-cta">
						{% block sw_cms_element_cmsbundle_image_config_media_upload_setting %}
							<div>
								<div style="width:100%;display: flex;">
									{% block sw_cms_element_cmsbundle_title_position_config %}
										<sw-select-field v-model:value="element.config.titlePosition.value" class="sw-cms-el-config-cmsbundle-horizontal-alignment pr-10px" :label="$tc('cmsbundle.element.general.config.horizontal-alignment')">
											<option value="start">
												{{$tc('sw-text-editor-toolbar.title.alignLeft')}}
											</option>
											<option value="center">
												{{$tc('sw-text-editor-toolbar.title.alignCenter')}}
											</option>
											<option value="end">
												{{$tc('sw-text-editor-toolbar.title.alignRight')}}
											</option>
										</sw-select-field>
									{% endblock %}
									{% block sw_cms_element_cmsbundle_image_config_options %}
										<sw-select-field class="sw-cms-el-config-cmsbundle_image__alignment " :label="$tc('sw-cms.elements.general.config.label.alignment')" :placeholder="$tc('sw-cms.elements.general.config.label.alignment')" v-model:value="element.config.alignment.value">

											{% block sw_cms_element_cmsbundle_image_config_alignment_options %}
												<option value="start">
													{{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
												</option>
												<option value="center">
													{{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
												</option>
												<option value="end">
													{{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
												</option>
											{% endblock %}

										</sw-select-field>
									{% endblock %}

								</div>
								{% block sw_cms_element_cmsbundle_image_config_custom_class %}
									<sw-text-field v-model:value="element.config.customClass.value" class="sw-cms-el-config-cmsbundle-image-custom-class" type="text" :label="$tc('cmsbundle.element.general.config.custom-class')"/>
								{% endblock %}
							</div>
						{% endblock %}
					</div>
				</template>
			</sw-tabs>
		{% endblock %}
	</div>
{% endblock %}
