{% block block_cmsbundle_four_column %}
<div class="cms-block-cmsbundle-four-column">
	<div class="row">
		<div class="container">
			<div class="row">
				{% block block_cmsbundle_four_column_left %}
					{% set element = block.slots.getSlot('left') %}
					<div class="col-md-3 pb-4 pb-md-0">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
					</div>
				{% endblock %}
				{% block block_cmsbundle_four_column_center_left %}
					{% set element = block.slots.getSlot('center-left') %}
					<div class="col-md-3 pb-4 pb-md-0">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
					</div>
				{% endblock %}
				{% block block_cmsbundle_four_column_center_right %}
					{% set element = block.slots.getSlot('center-right') %}
					<div class="col-md-3 pb-4 pb-md-0">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
					</div>
				{% endblock %}
				{% block block_cmsbundle_four_column_right %}
					{% set element = block.slots.getSlot('right') %}
					<div class="col-md-3 pb-4 pb-md-0">
						{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
					</div>
				{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}