{% block block_cmsbundle_category_slider %}
	<div class="category-slider-wrapper padding-top padding-bottom">
		{% block block_category_slider_foreground %}
			<div class="category-slider__foreground text-white">
				<div class="row">
					<div class="container p-0">
						{% block block_cmsbundle_category_slider_title %}
							{% set element = block.slots.getSlot('title') %}
							{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
						{% endblock %}

						{% block block_category_slider_products %}
							{% set element = block.slots.getSlot('category') %}
							{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
						{% endblock %}

						{% block block_cmsbundle_category_slider_button %}
							{% set element = block.slots.getSlot('button') %}
							{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing  %}
						{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}
		{% block block_product_slider_background %}
			<div class="category-slider__background">
				{% set element = block.slots.getSlot('background') %}
				{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
			</div>
		{% endblock %}
	</div>
{% endblock %}
