{% block block_cmsbundle_three_by_one_grid %}
<div class="cms-block-cmsbundle-three-by-one-grid cmsbundle-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    {% block block_cmsbundle_three_by_one_grid_left_top %}
                        {% set element = block.slots.getSlot('left-top') %}
                        <div class="col-12 mb-2">
                            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        </div>
                    {% endblock %}
                    {% block block_cmsbundle_three_by_one_grid_left_middle %}
                        {% set element = block.slots.getSlot('left-middle') %}
                        <div class="col-12 mb-2">
                            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        </div>
                    {% endblock %}
                    {% block block_cmsbundle_three_by_one_grid_left_bottom %}
                        {% set element = block.slots.getSlot('left-bottom') %}
                        <div class="col-12">
                            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-6 pb-4 pb-md-0">
                {% block block_cmsbundle_three_by_one_grid_right %}
                    {% set element = block.slots.getSlot('right') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
