{% block sw_cms_element_cmsbundle_title %}
	<div class="sw-cms-el-cmsbundle-title">
		{% block sw_cms_element_cmsbundle_title_content %}
			<h2>{{ mainTitle }}</h2>
			<h3>{{ subTitle }}</h3>
			<p>{{ shortDescription }}</p>
		{% endblock %}
	</div>
{% endblock %}
