{% block sw_cms_block_preview_cmsbundle_breadcrumbs %}
	<div class="sw-cms-block-preview-cmsbundle-breadcrumbs">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/breadcrumb.jpg')" alt="">
	</div>
{% endblock %}
