{% block sw_cms_block_recently_viewed_product_slider_preview %}
	<div class="sw-cms-preview-cmsbundle-recently-viewed-product-slider">
		<div class="sw-cms-recently-viewed-product-slider-box-preview has--text">
			<img :src="assetFilter('/shopwarebundleplugin/static/img/sliders.jpg')" alt="">
		</div>
	</div>
{% endblock %}
