{% block sw_cms_el_config_period_request_form_freeinputs_freeinputtype %}
    <sw-select-field v-model:value="element.config.freeInputType.value" class="width-50" :label="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')" :placeholder="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')">
        <option value="select">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.selectLabel') }}
        </option>
        <option value="input">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.inputLabel') }}
        </option>
        <option value="textarea">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.textareaLabel') }}
        </option>
        <option value="checkbox">
            checkbox
        </option>
    </sw-select-field>
{% endblock %}

{% block sw_cms_el_config_period_request_form_freeinputs_freeinput2type %}
    <sw-select-field v-model:value="element.config.freeInput2Type.value" class="width-50" :label="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')" :placeholder="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')">
        <option value="select">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.selectLabel') }}
        </option>
        <option value="input">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.inputLabel') }}
        </option>
        <option value="textarea">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.textareaLabel') }}
        </option>
        <option value="checkbox">
            checkbox
        </option>
    </sw-select-field>
{% endblock %}

{% block sw_cms_el_config_period_request_form_freeinputs_freeinput3type %}
    <sw-select-field v-model:value="element.config.freeInput3Type.value" class="width-50" :label="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')" :placeholder="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')">
        <option value="select">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.selectLabel') }}
        </option>
        <option value="input">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.inputLabel') }}
        </option>
        <option value="textarea">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.textareaLabel') }}
        </option>
        <option value="checkbox">
            checkbox
        </option>
    </sw-select-field>
{% endblock %}

{% block sw_cms_el_config_period_request_form_freeinputs_freeinput4type %}
    <sw-select-field v-model:value="element.config.freeInput4Type.value" class="width-50" :label="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')" :placeholder="$tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.label')">
        <option value="select">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.selectLabel') }}
        </option>
        <option value="input">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.inputLabel') }}
        </option>
        <option value="textarea">
            {{ $tc('sw-cms.elements.configPeriodRequestForm.tab.freeinputstab.freeInputType.textareaLabel') }}
        </option>
        <option value="checkbox">
            checkbox
        </option>
    </sw-select-field>
{% endblock %}
