{% block element_cmsbundle_category_slider %}
	{% if not sliderConfig %}
		{% set sliderConfig = element.fieldConfig.elements %}
	{% endif %}
	
	{% if element.data.categories.elements %}
		<div class="cms-element-{{ element.type }}{% if sliderConfig.displayMode.value == " standard" and sliderconfig.verticalalign.value %} has-vertical-alignment{% endif %}">
			{% block element_product_slider_alignment %}
				{% if config.verticalAlign.value %}
					<div class="cms-element-alignment{% if sliderConfig.verticalAlign.value == " center" %} align-self-center{% elseif sliderConfig.verticalAlign.value == " flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
					{% endif %}

					{% set categorySliderOptions = {
							slider: {
								gutter: 30,
								autoplayButtonOutput: false,
								nav: sliderConfig.dots.value,
								slideBy: 2,
								items: sliderConfig.countDesktop.value,
								mouseDrag: true,
								controls: sliderConfig.controlls.value ? true : false,
								autoplay: sliderConfig.autoPlay.value ? true : false,
								speed: sliderConfig.speed.value,
								loop: sliderConfig.loop.value,
								prevButton: '.category-slider__controls_prev',
								nextButton: '.category-slider__controls_next',
								navPosition: 'bottom',
								responsive: {
									md: {
										items: sliderConfig.countTablet.value
									},
									xs: {
										items: sliderConfig.countMobile.value
									}
								}
							}
                		} 
					%}
					{% block element_category_slider_slider %}
						<div class=" base-slider product-slider{% if sliderConfig.border.value %} has-border{% endif %}{% if sliderConfig.navigation.value %} has-nav{% endif %}" data-base-slider="true" data-base-slider-options="{{ categorySliderOptions|json_encode }}">

							{% block element_category_slider_inner %}
								{% block element_category_slider_element %}
									<div class="category-slider-container" data-base-slider-container="true">
										{% for category in element.data.categories.elements %}
											{% block element_category_slider_inner_item %}
												<div class="category-slider-item">
													{% sw_include '@Storefront/storefront/component/category/card.html.twig' with {
														'layout': sliderConfig.boxLayout.value,
														'displayMode': sliderConfig.displayMode.value
													} %}
												</div>
											{% endblock %}
										{% endfor %}
									</div>
								{% endblock %}

								{% block element_category_slider_controls %}
									{% if sliderConfig.controlls.value %}
										<div class="category-slider-controls-container">
											<div class="base-slider-controls" data-base-slider-controls="true">
												{% block element_category_slider_controls_items %}
													<button class="base-slider-controls-prev category-slider__controls_prev{% if sliderConfig.border.value %} has-border{% endif %} start-0">
														{% block element_category_slider_controls_items_prev_icon %}
															{% sw_icon 'arrow-head-left' %}
														{% endblock %}
													</button>
													<button class="base-slider-controls-next category-slider__controls_next{% if sliderConfig.border.value %} has-border{% endif %} end-0">
														{% block element_category_slider_controls_items_next_icon %}
															{% sw_icon 'arrow-head-right' %}
														{% endblock %}
													</button>
												{% endblock %}
											</div>
										</div>
									{% endif %}
								{% endblock %}
							{% endblock %}
						</div>
					{% endblock %}
					{% if config.verticalAlign.value %}
					</div>
				{% endif %}
			{% endblock %}
		</div>
	{% endif %}
{% endblock %}
