{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_content %}
	{{ parent() }}
	{% set productViewsOptions = {
        'productId': page.product.id,
    } %}
	<div data-cmsbundle-product-viewed="true" data-cmsbundle-product-viewed-options="{{ productViewsOptions|json_encode }}"></div>
{% endblock %}
