{% block sw_cms_element_cmsbundle_hero_slider_preview %}
	<div class="sw-cms-el-preview-cmsbundle-hero-slider-background">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="">
	</div>
{% endblock %}
