<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_period_request_form_preview %}
    <div
        class="sw-cms-el-preview-period-request-form"
    >
        <h4
            class="sw-cms-el-preview-period-request-form-headline"
        >
            {{ $tc('sw-cms.elements.periodRequestFormElement.label') }}
        </h4>
        <div
            class="sw-cms-el-preview-period-request-form-inputs"
        >
            <div class="sw-cms-el-preview-period-request-form-input"></div>
            <div class="sw-cms-el-preview-period-request-form-input"></div>
        </div>
        <div class="sw-cms-el-preview-period-request-form-input"></div>
        <div
            class="sw-cms-el-preview-period-request-form-inputs__action"
        >
            {{ $tc('sw-cms.elements.periodRequestFormElement.sendLabel') }}
        </div>
    </div>
{% endblock %}
