{% block sw_cms_block_image_three_column_grid_preview %}
    <div class="sw-cms-preview-image-simple-grid">
        <div class="sw-cms-preview-image-simple-grid__left">
            <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt=""/>
        </div>
        <div class="sw-cms-preview-image-simple-grid__right">
            <div class="sw-cms-preview-image-simple-grid__image-top">
                <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt=""/>
            </div>
            <div class="sw-cms-preview-image-simple-grid__image-bottom">
                <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt=""/>
            </div>
        </div>
    </div>
{% endblock %}
