{% block sw_media_quickinfo_quickactions_content %}
            <ul class="sw-media-sidebar__quickactions-list">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_replace %}
                <li
                    v-if="!item.private"
                    v-tooltip="{
                        message: $tc('sw-privileges.tooltip.warning'),
                        disabled: acl.can('media.editor'),
                        showOnDisabledElements: true
                    }"
                    class="quickaction--replace"
                    :class="quickActionClasses(!acl.can('media.editor'))"
                    role="button"
                    tabindex="0"
                    @click="openModalReplace"
                    @keydown.enter="openModalReplace"
                >
                    <sw-icon
                        small
                        name="regular-files"
                        class="sw-media-sidebar__quickactions-icon"
                    />
                    {{ $tc('sw-media.sidebar.actions.replace') }}
                </li>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_download %}
                <li
                    v-if="item.hasFile"
                    class="sw-media-sidebar__quickaction quickaction--download"
                >
                    <sw-external-link
                        :href="item.url"
                        download
                    >

                        <sw-icon
                            small
                            name="regular-cloud-download"
                            class="sw-media-sidebar__quickactions-icon"
                        />
                        {{ $tc('sw-media.sidebar.actions.download') }}
                    </sw-external-link>
                </li>
                {% endblock %}
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_move %}
                <li
                    v-tooltip="{
                        message: $tc('sw-privileges.tooltip.warning'),
                        disabled: acl.can('media.editor'),
                        showOnDisabledElements: true
                    }"
                    class="quickaction--move"
                    :class="quickActionClasses(!acl.can('media.editor'))"
                    role="button"
                    tabindex="0"
                    @click="openModalMove"
                    @keydown.enter="openModalMove"
                >

                    <sw-icon
                        small
                        name="regular-file-export"
                        class="sw-media-sidebar__quickactions-icon"
                    />
                    {{ $tc('sw-media.sidebar.actions.move') }}
                </li>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_copy_link %}
                <li
                    v-if="item.hasFile"
                    class="sw-media-sidebar__quickaction quickaction--copy-link"
                    role="button"
                    tabindex="0"
                    @click="copyLinkToClipboard"
                    @keydown.enter="copyLinkToClipboard"
                >

                    <sw-icon
                        small
                        name="regular-link"
                        class="sw-media-sidebar__quickactions-icon"
                    />
                    {{ $tc('sw-media.sidebar.actions.copyLink') }}
                </li>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_delete %}
                <li
                    v-if="!item.private"
                    v-tooltip="{
                        message: $tc('sw-privileges.tooltip.warning'),
                        disabled: acl.can('media.deleter'),
                        showOnDisabledElements: true
                    }"
                    class="quickaction--delete"
                    :class="quickActionClasses(!acl.can('media.deleter'))"
                    role="button"
                    tabindex="0"
                    @click="openModalDelete"
                    @keydown.enter="openModalDelete"
                >
                    <sw-icon
                        small
                        name="regular-trash"
                        class="sw-media-sidebar__quickactions-icon is--danger"
                    />
                    {{ $tc('sw-media.sidebar.actions.delete') }}
                </li>
                {% endblock %}
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_media_quickinfo_quickactions_convert %}
                <li
                    v-if="item.hasFile"
                    class="sw-media-sidebar__quickaction quickaction--copy-link"
                    role="button"
                    tabindex="0"
                    @click="convertImageIntoWebP"
                    @keydown.enter="convertImageIntoWebP"
                >
                    <sw-icon
                        small
                        name="regular-times-xs"
                        class="sw-media-sidebar__quickactions-icon is--danger"
                    />
                    Convert
                </li>
                {% endblock %}
            </ul>
{% endblock %}