{% block sw_cms_block__cmsbundle_cta_block_preview %}
	<div class="sw-cms-el-preview-cmsbundle-cta-block">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/cta-block.jpg')" alt="">
	</div>
{% endblock %}