{% block sw_cms_block_image_two_column_preview %}
<div class="sw-cms-preview-cmsbundle-product-slider__product-box">
      <img :src="assetFilter('/shopwarebundleplugin/static/img/listing.jpg')" alt=""/>
</div>
{% endblock %}
