{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation %}
    <div class="main-navigation"
         id="mainNavigation"
         data-flyout-menu="true">
        {% block layout_main_navigation_navbar %}
            {{ parent() }}
        {% endblock %}

        {% block layout_main_navigation_menu_flyout_wrapper %}
            {% set navigationChildrenCount = 0 %}
            {% for treeItem in page.header.navigation.tree %}
                {% if treeItem.category.childCount > 0 %}
                    {% set navigationChildrenCount = navigationChildrenCount + 1 %}
                {% endif %}
            {% endfor %}

            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block layout_main_navigation_menu %}
    <nav class="nav main-navigation-menu justify-content-center"
        itemscope="itemscope"
        itemtype="http://schema.org/SiteNavigationElement">
        {% set homeLabel = context.salesChannel.translated.homeName|default('general.homeLink'|trans) %}

        {% block layout_main_navigation_menu_home %}
            {{ parent() }}
        {% endblock %}

        {% block layout_main_navigation_menu_items %}
            {{ parent() }}
        {% endblock %}
    </nav>
{% endblock %}
