{% block sw_cms_block_image_two_by_one_column_preview %}
    <div class="sw-cms-preview-cmsbundle-two-by-one-column-banner">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" class="img1" />
        <img :src="assetFilter('/shopwarebundleplugin/static/img/column-banner.png')" alt="" class="img2" />
    </div>
{% endblock %}
