{% block sw_cms_preview_cmsbundle_manufacturer_detail %}
	<div class="sw-cms-preview-cmsbundle-manufacturer-detail">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/listing.jpg')" alt="">
	</div>
{% endblock %}
