{% block sw_cms_block_image_two_column_preview %}
	<div class="sw-cms-preview-cmsbundle-section">
		<img :src="assetFilter('/shopwarebundleplugin/static/img/section-block.jpg')" alt="">
	</div>
{% endblock %}
