{% block sw_cms_element_cmsbundle_hero_slider %}
	<div class="sw-cms-el-cmsbundle-hero-slider" :style="backgroundStyle">
		{% block sw_cms_element_cmsbundle_hero_slider_content %}
			<img v-if="mediaUrlDesktop" :src="mediaUrlDesktop" alt="">
		{% endblock %}
	</div>
{% endblock %}
