{% block sw_cms_block_subcategory_slider_preview %}
      <div class="sw-cms-preview-sub-category-slider-box">
           <img :src="assetFilter('/shopwarebundleplugin/static/img/sliders.jpg')" alt="">
      </div>
{% endblock %}
