<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_cta_slider_preview %}
	<div class="sw-cms-el-cta-slider">
		<img class="el-cta-slider-img" :src="assetFilter('/shopwarebundleplugin/static/img/cta-slider.jpg')">
	</div>
{% endblock %}
