{% block sw_cms_element_cmsbundle_accordion_preview %}
	<div class="sw-cms-preview-cmsbundle-accordion">
		<div class="cmsbundle-preview-accordion">
			<img :src="assetFilter('/shopwarebundleplugin/static/img/preview-acordion.jpg')" alt="">
		</div>
	</div>
{% endblock %}
