{% block sw_cms_element_subcategory_slider_componenet %}
    <div class="sw-cms-element-subcategory-slider-componenet">
        <div class="sw-cms-element-subcategory-slider-componenet_content">
            <img class="sw-cms-element-subcategory-slider-componenet-img" :src="assetFilter('/shopwarebundleplugin/static/img/el-sub-category-list.png')" alt="">
        </div>
    </div>
{% endblock %}
