{% block sw_cms_block_cmsbundle_subcategory_slider %}
	<div class="sw-cms-block-cmsbundle-subcategory-slider">
		<div class="subcategory-slider-bg">
			<slot name="background"></slot>
		</div>
		<div class="subcategory-slider-slots">
			<slot name="title"></slot>
			<slot name="subcategory"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
