{% block sw_cms_block_image_five_column %}
<div class="sw-cms-block-cmsbundle-five-column-banner">
    <slot name="left-left"></slot>
    <slot name="left-right"></slot>
    <slot name="center"></slot>
    <slot name="right-left"></slot>
    <slot name="right-right"></slot>
</div>
{% endblock %}
