{% block sw_cms_block__cmsbundle_cta_preview %}
    <div class="sw-cms-preview-cmsbundle-cta">
        <img :src="assetFilter('/shopwarebundleplugin/static/img/cta-block.jpg')" alt="" />
    </div>
{% endblock %}
