{% block sw_cms_block_cmsbundle_category_slider %}
	<div class="sw-cms-block-cmsbundle-category-slider">
		<div class="category-slider-bg">
			<slot name="background"></slot>
		</div>
		<div class="category-slider-slots">
			<slot name="title"></slot>
			<slot name="category"></slot>
			<slot name="button"></slot>
		</div>
	</div>
{% endblock %}
